.timer-box {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-size: 50px;
}

.next-question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 100%;
}

.red {
  color: red;
}

.padding-top-150 {
  padding-top: 150px;
}
